# Feature Engineering

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/raw/data.csv')

print("Dataset loaded successfully.")
df.head()

Dataset loaded successfully.

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

In [ ]:
# --- Feature Engineering 1: Time-Based Features ---


df['TransactionStartTime'] = pd.to_datetime(df['TransactionStartTime'])

df['TransactionHour'] = df['TransactionStartTime'].dt.hour
df['DayOfWeek'] = df['TransactionStartTime'].dt.dayofweek 
df['DayOfMonth'] = df['TransactionStartTime'].dt.day

print("New time-based features created:")
print(df[['TransactionStartTime', 'TransactionHour', 'DayOfWeek', 'DayOfMonth']].head())
df.info()

New time-based features created:
       TransactionStartTime  TransactionHour  DayOfWeek  DayOfMonth
0 2018-11-15 02:18:49+00:00                2          3          15
1 2018-11-15 02:19:08+00:00                2          3          15
2 2018-11-15 02:44:21+00:00                2          3          15
3 2018-11-15 03:32:55+00:00                3          3          15
4 2018-11-15 03:34:21+00:00                3          3          15
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   TransactionId         95662 non-null  object
 1   BatchId               95662 non-null  object
 2   AccountId             95662 non-null  object
 3   SubscriptionId        95662 non-null  object
 4   CustomerId            95662 non-null  object
 5   CurrencyCode          95662 non-null  object
 6   CountryCode           95662 non-null  int64
 7   ProviderId            95662 non-null  object
 8   ProductId             95662 non-null  object
 9   ProductCategory       95662 non-null  object
 10  ChannelId             95662 non-null  object
 11  Amount                95662 non-null  float64
 12  Value                 95662 non-null  int64
 13  TransactionStartTime  95662 non-null  datetime64[ns, UTC]
 14  PricingStrategy       95662 non-null  int64
 15  FraudResult           95662 non-null  int64
 16  TransactionHour       95662 non-null  int32
 17  DayOfWeek             95662 non-null  int32
 18  DayOfMonth            95662 non-null  int32
dtypes: datetime64[ns, UTC](1), float64(1), int32(3), int64(4), object(10)
memory usage: 12.8+ MB

In [ ]:
# --- Feature Engineering  2: Encoding Categorical Features ---

print("Unique values in 'ProductCategory':", df['ProductCategory'].unique())
print("Unique values in 'ChannelId':", df['ChannelId'].unique())

categorical_cols = ['ProductCategory', 'ChannelId']


df_processed = pd.get_dummies(df, columns=categorical_cols, prefix=categorical_cols, dtype=int)


print("\nDataFrame after one-hot encoding:")
pd.set_option('display.max_columns', None) 
df_processed.head()

Unique values in 'ProductCategory': ['airtime' 'financial_services' 'utility_bill' 'data_bundles' 'tv'
 'transport' 'ticket' 'movies' 'other']

Unique values in 'ChannelId': ['ChannelId_3' 'ChannelId_2' 'ChannelId_1' 'ChannelId_5']

DataFrame after one-hot encoding:

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,TransactionHour,DayOfWeek,DayOfMonth,ProductCategory_airtime,ProductCategory_data_bundles,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,1000.0,1000,2018-11-15 02:18:49+00:00,2,0,2,3,15,1,0,0,0,0,0,0,0,0,0,0,1,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,-20.0,20,2018-11-15 02:19:08+00:00,2,0,2,3,15,0,0,1,0,0,0,0,0,0,0,1,0,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,500.0,500,2018-11-15 02:44:21+00:00,2,0,2,3,15,1,0,0,0,0,0,0,0,0,0,0,1,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,20000.0,21800,2018-11-15 03:32:55+00:00,2,0,3,3,15,0,0,0,0,0,0,0,0,1,0,0,1,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,-644.0,644,2018-11-15 03:34:21+00:00,2,0,3,3,15,0,0,1,0,0,0,0,0,0,0,1,0,0

In [4]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 30 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   TransactionId                       95662 non-null  object
 1   BatchId                             95662 non-null  object
 2   AccountId                           95662 non-null  object
 3   SubscriptionId                      95662 non-null  object
 4   CustomerId                          95662 non-null  object
 5   CurrencyCode                        95662 non-null  object
 6   CountryCode                         95662 non-null  int64
 7   ProviderId                          95662 non-null  object
 8   ProductId                           95662 non-null  object
 9   Amount                              95662 non-null  float64
 10  Value                               95662 non-null  int64
 11  TransactionStartTime                95662 non-null  datetime64[ns, UTC]
 12  PricingStrategy                     95662 non-null  int64
 13  FraudResult                         95662 non-null  int64
 14  TransactionHour                     95662 non-null  int32
 15  DayOfWeek                           95662 non-null  int32
 16  DayOfMonth                          95662 non-null  int32
 17  ProductCategory_airtime             95662 non-null  int64
 18  ProductCategory_data_bundles        95662 non-null  int64
 19  ProductCategory_financial_services  95662 non-null  int64
 20  ProductCategory_movies              95662 non-null  int64
 21  ProductCategory_other               95662 non-null  int64
 22  ProductCategory_ticket              95662 non-null  int64
 23  ProductCategory_transport           95662 non-null  int64
 24  ProductCategory_tv                  95662 non-null  int64
 25  ProductCategory_utility_bill        95662 non-null  int64
 26  ChannelId_ChannelId_1               95662 non-null  int64
 27  ChannelId_ChannelId_2               95662 non-null  int64
 28  ChannelId_ChannelId_3               95662 non-null  int64
 29  ChannelId_ChannelId_5               95662 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(1), int32(3), int64(17), object(8)
memory usage: 20.8+ MB

In [5]:
# --- Feature Engineering 3: Customer-Level Aggregated Features (RFM) ---



snapshot_date = df['TransactionStartTime'].max() + pd.Timedelta(days=1)
print(f"Snapshot date for Recency calculation: {snapshot_date}")

rfm_df = df.groupby('CustomerId').agg({
    'TransactionStartTime': lambda x: (snapshot_date - x.max()).days, # Recency
    'TransactionId': 'count',                                         # Frequency
    'Value': ['sum', 'mean']                                          # Monetary (Sum and Average)
})

rfm_df.columns = ['Recency', 'Frequency', 'MonetarySum', 'MonetaryMean']

print("\nGenerated RFM features per customer:")
print(rfm_df.head())

df_final = df_processed.merge(rfm_df, on='CustomerId', how='left')

print("\nFinal dataframe with RFM features merged:")
print(df_final[['CustomerId', 'Recency', 'Frequency', 'MonetarySum', 'MonetaryMean']].head())

Snapshot date for Recency calculation: 2019-02-14 10:01:28+00:00

Generated RFM features per customer:
                 Recency  Frequency  MonetarySum  MonetaryMean
CustomerId
CustomerId_1          84          1        10000  10000.000000
CustomerId_10         84          1        10000  10000.000000
CustomerId_1001       90          5        30400   6080.000000
CustomerId_1002       26         11         4775    434.090909
CustomerId_1003       12          6        32000   5333.333333

Final dataframe with RFM features merged:
        CustomerId  Recency  Frequency  MonetarySum  MonetaryMean
0  CustomerId_4406        1        119       203847   1713.000000
1  CustomerId_4406        1        119       203847   1713.000000
2  CustomerId_4683       82          2         1000    500.000000
3   CustomerId_988        6         38       286623   7542.710526
4   CustomerId_988        6         38       286623   7542.710526

In [6]:
# --- Save the Final Processed Dataset ---

columns_to_drop = ['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId',
                   'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
                   'TransactionStartTime']

df_model_ready = df_final.drop(columns=columns_to_drop)


output_path = '../data/processed/model_ready_data.csv'

df_model_ready.to_csv(output_path, index=False)

print(f"Processed data successfully saved to: {output_path}")
print(f"The final dataset has {df_model_ready.shape[0]} rows and {df_model_ready.shape[1]} columns.")
df_model_ready.info()

Processed data successfully saved to: ../data/processed/model_ready_data.csv
The final dataset has 95662 rows and 25 columns.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   CustomerId                          95662 non-null  object
 1   Amount                              95662 non-null  float64
 2   Value                               95662 non-null  int64
 3   PricingStrategy                     95662 non-null  int64
 4   FraudResult                         95662 non-null  int64
 5   TransactionHour                     95662 non-null  int32
 6   DayOfWeek                           95662 non-null  int32
 7   DayOfMonth                          95662 non-null  int32
 8   ProductCategory_airtime             95662 non-null  int64
 9   ProductCategory_data_bundles        95662 non-null  int64
 10  ProductCategory_financial_services  95662 non-null  int64
 11  ProductCategory_movies              95662 non-null  int64
 12  ProductCategory_other               95662 non-null  int64
 13  ProductCategory_ticket              95662 non-null  int64
 14  ProductCategory_transport           95662 non-null  int64
 15  ProductCategory_tv                  95662 non-null  int64
 16  ProductCategory_utility_bill        95662 non-null  int64
 17  ChannelId_ChannelId_1               95662 non-null  int64
 18  ChannelId_ChannelId_2               95662 non-null  int64
 19  ChannelId_ChannelId_3               95662 non-null  int64
 20  ChannelId_ChannelId_5               95662 non-null  int64
 21  Recency                             95662 non-null  int64
 22  Frequency                           95662 non-null  int64
 23  MonetarySum                         95662 non-null  int64
 24  MonetaryMean                        95662 non-null  float64
dtypes: float64(2), int32(3), int64(19), object(1)
memory usage: 17.2+ MB